/* Basic Styling */
html {
    padding: 0;
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

body {
    margin: 0 auto;
    padding: 1.5rem;
    box-sizing: border-box;
    width: 100%;
    min-width: 360px;
    max-width: 1100px;
    color: hsl(0, 0%, 20%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
    font-weight: 300;
}

/*
    Color scheme: http://tachyons.io/
*/
:root {
    --red: hsl(3, 100%, 61%);
    --green: hsl(158, 74%, 38%);
    --dark-green: hsl(158, 72%, 27%);
    --dark-blue: hsl(214, 100%, 31%);
    --blue: hsl(214, 71%, 54%);
    --light-yellow: hsl(53, 91%, 82%);
    --washed-yellow: hsl(51, 100%, 96%);
    --gray: hsl(0, 0%, 47%);
}

header h1 {
    padding-bottom: 0.4rem;
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 2rem;
    border-bottom: 3px solid var(--dark-blue);
}

/* Style area with flashcards */
[mv-app="FlashcardStudyApp"] > section:first-of-type {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}

/* Style flashcard */
[property="flashcard"] {
    position: relative;
    max-width: 350px;
    width: 100%;
    padding: 1rem 0.6rem;
    background-color: var(--light-yellow);
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2);
}

/* Style bookmark */
[property="flashcard"] > aside {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    top: -0.4rem;
    right: 0.4rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background: url('data:image/svg+xml;utf8,\
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"\
                        style="fill: darkred; filter: url(%23shadow);"\
                        width="32" height="32" viewBox="0 0 32 32">\
                            <defs>\
                              <filter id="shadow">\
                                  <feDropShadow dx="1" dy="1" stdDeviation="1"/>\
                              </filter>\
                            </defs>\
                            <path d="M6 0v32l10-10 10 10v-32z"></path>\
                    </svg>');
    background-repeat: no-repeat;
    background-size: 2.8rem;
    background-position: center center;
}

[property="flashcard"] > aside > span {
    padding: 0.4rem 0.1rem 0.2rem;
    font-size: 0.9rem;
    cursor: default;
}

[property="flashcard"] h2 {
    margin: 0 0 0.3rem;
    padding: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: default;
}

[property="flashcard"] > textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 8rem;
    background-color: var(--washed-yellow);
    font-size: 1.8rem;
}

/* Style section with special characters */
[property="flashcard"] > details {
    margin: 0.3rem 0 0.7rem 0;
    overflow-wrap: break-word;
    font-size: 1.1rem;
    text-align: center;
    cursor: default;
}

[property="flashcard"] > details summary {
    text-align: left;
}

/* Style special characters */
[property="flashcard"] > details span {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0.2rem;
    padding: 0.1rem;
    font-weight: 500;
    border-radius: 0.2rem;
    background-color: var(--washed-yellow);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

[property="flashcard"] p {
    margin: 0 0 0.5rem;
    padding: 0.5rem 0.2rem;
    font-size: 1.8rem;
    overflow-wrap: break-word;
    cursor: pointer;
    transition: background-color .15s ease-in-out;
}

[property="flashcard"] p:hover {
    background-color: hsla(0, 0%, 0%, 0.1);
}

/* Default styles of all buttons */
[property="flashcard"] button, [mv-app="FlashcardStudyApp"] > button {
    margin: 1rem 0 0;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    background-color: var(--dark-green);
    color: white;
    font-size: 1.3rem;
}

/* Style Save button */
[property="flashcard"] > button:last-of-type:disabled {
    background-color: var(--gray);
}

/* Style buttons with icons */
.fa {
    padding-right: 0.5rem;
}

/* Style Add Flashcard button */
[mv-app="FlashcardStudyApp"] > button {
    margin: 0 0 1rem 0;
    background-color: var(--green);
}

/* Style Show Translation button */
[property="flashcard"] .show-translation {
    background-color: transparent;
    color: initial;
    font-style: italic;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Style section with buttons (translation is visible) */
[property="flashcard"] > section:last-of-type {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

[property="flashcard"] > section:last-of-type button {
    margin: 0.3rem 0;
    width: 4rem;
    text-align: center;
}

/* Button "Bad" */
[property="flashcard"] > section:last-of-type button:nth-child(1) {
    background-color: var(--red);
}

/* Button "Good" */
[property="flashcard"] > section:last-of-type button:nth-child(2) {
    background-color: var(--blue);
    justify-self: center;
}

/* Button "Great" */
[property="flashcard"] > section:last-of-type button:nth-child(3) {
    background-color: var(--dark-green);
    justify-self: end;
}

/* Style Mavo bar */
.mv-bar {
    display: flex;
    flex-direction: row;
}

.mv-bar button {
    margin: 1rem 1rem 0 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.2rem;
    background-color: var(--dark-blue);
    color: white;
}

/* Hide meta properties */
meta[property][mv-mode="edit"] {
    display: none;
}

/* Style footer */
footer {
    text-align: center;
    max-width: 600px;
    width: 100%;
    margin: 5rem auto 2rem;
}

footer * {
    margin: 0.2rem;
    font-weight: 400;
    font-size: 1rem;
    color: inherit;
}
